*{
    margin: 0;
    padding: 0;
}
/*fix*/
html {
    font-size: 1vw;
}
/*fonts*/
@font-face {
    font-family: Proxima Nova Regular;
    src: url(assets/fonts/proxima/Proxima-Nova-Regular.otf);
}
@font-face {
    font-family: Proxima Nova Bold;
    src: url(assets/fonts/proxima/Proxima-Nova-Bold.otf);
}
@font-face {
    font-family: Proxima Nova Semibold;
    src: url(assets/fonts/proxima/Proxima-Nova-Semibold.otf);
}

/*For PC*/
@media screen and (min-width: 1024px) { 
    #instruct .banner{
        position: relative;
        height: 22rem;
        background: linear-gradient(90deg, #174C97 0%, #174C97 48.01%, rgba(0, 0, 0, 0.00) 75.09%), url(../images/221-3.png) lightgray 50% / cover no-repeat;
    }
    #instruct .banner__list{
        display: flex;
        padding-top: 2.75rem;
        padding-left: 6.19rem;
        list-style-type: none;
        align-items: flex-start;
        gap: 0.5rem;
    }
    #instruct .banner__list-item{
        color: var(--PRIMARY-blue-100, #B6C7E0);
        text-align: center;

        font-family: "Proxima Nova Regular",sans-serif;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; 
        letter-spacing: -0.01rem;
    }
    #instruct .item-main{
        color: var(--greyscaletext-0, #FFF);
        font-family: "Proxima Nova Bold",sans-serif;
        font-weight: 700;
    }
    #instruct .banner__title{
        padding-top: 5.38rem;
        padding-left: 6.29rem;
        color: var(--greyscaletext-0, #FFF);
        text-align: justify;

        font-family: "Proxima Nova Bold",sans-serif;
        font-size: 3rem;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; 
        letter-spacing: -0.03rem;
    }
    #instruct .instruct{
        display: flex;
        padding: 5.375rem 6.28025rem 5.375rem 6.21975rem;
        justify-content: center;
        align-items: center;
    }
    #instruct .instruct__1000006975{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 3.75rem;
    }
    #instruct .instruct__1000006975-title{
        display: flex;
        width: 18.0625rem;
        height: 14.1875rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;

        color: var(--PRIMARY-blue-500, #134A9B);
        font-family: "Proxima Nova Bold",sans-serif;
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; 
    }
    #instruct .instruct__1000006975-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 18.0625rem;
    }
    #instruct .item-1000006970{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 0.1875rem;

        color: var(--SECONDARY-blue-500, #1AB7DA);
        text-align: center;
        font-family: "Proxima Nova Bold",sans-serif;
        font-size: 3.375rem;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 5.0625rem */
    }
    #instruct .item-text{
        color: var(--PRIMARY-blue-500, #134A9B);
        text-align: center;
        font-family: "Proxima Nova Bold",sans-serif;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 1.5rem */
        letter-spacing: -0.0125rem;
    }
    #instruct .instruct__125{
        position: absolute;
        top: 44.9rem;
        left: 41rem;
    }
    #instruct .instruct__126{
        position: absolute;
        top: 44.9rem;
        left: 62.33rem;
    }
    #instruct .instruct__127{
        position: absolute;
        top: 45.6rem;
        right: 6.26rem;
    }
    #instruct .instruct__131{
        position: absolute;
        top: 73.25rem;
        left: 6.32rem;
    }
    #instruct .instruct__128{
        position: absolute;
        top: 72.5rem;
        right: 20.8rem;
    }
    #instruct .instruct__129{
        position: absolute;
        top: 72.5rem;
        right: 43rem;
    }
    #instruct .instruct__130{
        position: absolute;
        top: 72.5rem;
        left: 19.36rem;
    }
    #instruct .instruct__132{
        position: absolute;
        top: 100rem;
        left: 19.36rem;
    }
    #instruct .instruct__133{
        position: absolute;
        top: 100rem;
        right: 43rem;
    }

    #map .map{
        display: flex;
        padding: 5.4375rem 6.25rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.625rem;
        background: #0D356E;
    }
    #map .map__layout{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4.375rem;
    }
    #map .map__layout-title{
        color: var(--greyscaletext-0, #FFF);

        font-family: "Proxima Nova Bold",sans-serif;
        font-size: 3rem;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 3.6rem */
        letter-spacing: -0.03rem;
    }
    #map .map__layout-item{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.25rem;
    }
    #map .item__floor{
        display: flex;
        position: relative;
        width: 87.4855rem;
        height: 13.03738rem;
        flex-shrink: 0;
        border-radius: 1rem;
        border: 1px solid var(--PRIMARY-blue-300, #6186BC);
    }
    #map .floor-ground{
        background: linear-gradient(91deg, #134A9B 38.64%, rgba(19, 74, 155, 0.80) 71.32%, rgba(54, 192, 222, 0.00) 97.64%), url(../images/floorG.jpg) lightgray 402.363px -267.58px / 84.339% 377.343% no-repeat;
    }
    #map .floor-one{
        background: linear-gradient(91deg, #134A9B 38.64%, rgba(19, 74, 155, 0.80) 71.32%, rgba(54, 192, 222, 0.00) 97.64%), url(../images/floor1.jpg) lightgray 402.363px -267.58px / 84.339% 377.343% no-repeat;
    }
    #map .floor-two{
        background: linear-gradient(91deg, #134A9B 38.64%, rgba(19, 74, 155, 0.80) 71.32%, rgba(54, 192, 222, 0.00) 97.64%), url(../images/floor2.jpg) lightgray 402.363px -267.58px / 84.339% 377.343% no-repeat;
    }
    #map .floor-three{
        background: linear-gradient(91deg, #134A9B 38.64%, rgba(19, 74, 155, 0.80) 71.32%, rgba(54, 192, 222, 0.00) 97.64%), url(../images/floor3.jpg) lightgray 402.363px -267.58px / 84.339% 377.343% no-repeat;
    }
    #map .item__floor-title{
        margin-left: 5.46rem;
        margin-top: 5.17rem;
        color: var(--SECONDARY-blue-400, #45DDFF);
        font-family: "Proxima Nova Bold",sans-serif;
        font-size: 2.25rem;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 2.7rem */
        letter-spacing: -0.0225rem;
    }
    #map .item__floor-room{
        height: 5.5rem;
        margin-top: 3.77rem;
        margin-left: 6.86rem;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 1rem;
    }
    #map .room__item{
        display: flex;
        gap: 0.67rem;
        align-items: center;
    }
    #map .room__item-text{
        width: 21.3088rem;
        color: var(--greyscaletext-0, #FFF);
        font-family: "Proxima Nova Bold",sans-serif;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 2.25rem */
        letter-spacing: -0.015rem;
    }
    #map .btn-white{
        margin-left: 39.15rem;
        display: flex;
        padding: 0.5rem 0.5rem 0.5rem 1.5rem;
        align-items: center;
        gap: 0.5rem;
        border-radius: 1.5rem;
        background: var(--greyscaletext-0, #FFF);
        border: 1px solid var(--greyscaletext-0, #FFF);
    }
    #map .btn-white__text{
        color: var(--PRIMARY-blue-500, #134A9B);
        text-align: center;

        font-family: "Proxima Nova Semibold",sans-serif;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 1.2rem */
        letter-spacing: 0.0125rem;
    }
    #map .btn-white__circle{
        display: flex;
        height: 2rem;
        padding-left: 0.79388rem;
        padding-right: 0.79388rem;
        align-items: center;
        border-radius: 1.25rem;
        background: var(--SECONDARY-blue-200, #96DEEE);
    }

    #contact .contact{
        height: 46rem;
        flex-shrink: 0;
    }
    #contact .contact__address{
        display: flex;
        gap: 2.25rem;
        margin-top: 0.88rem;
        margin-left: 6.29rem;
    }
    #contact .contact__address-image{
        width: 54.08381rem;
        height: 28.54544rem;
        flex-shrink: 0;
        border-radius: 1rem;
    }
    #contact .contact__address-map{
        width: 31.12188rem;
        height: 28.54544rem;
        flex-shrink: 0;
    }
    #contact .contact__title{
        margin-top: 2.56rem;
        margin-left: 6.66rem;
        color: var(--PRIMARY-blue-500, #134A9B);
        text-shadow: 0px -13.402px 18.763px rgba(255, 255, 255, 0.25);

        font-family: "Proxima Nova Bold",sans-serif;
        font-size: 3rem;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 3.6rem */
        letter-spacing: -0.03rem;
    }
    #contact .contact__information{
        display: flex;
        width: 87.5rem;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 6.24rem;
        margin-top: 1.5rem;
    }
    #contact .contact__information-item{
        display: flex;
        gap: 1.81rem;
        align-items: center;
    }
    #contact .item__svg{
        width: 3.75rem;
        height: 3.75rem;
        flex-shrink: 0;
    }
    #contact .item__text{
        height: 3.75rem;
        flex-shrink: 0;

        color: var(--PRIMARY-blue-700, #0D356E);
        font-family: "Proxima Nova Semibold",sans-serif;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
    }
    #contact .item__text-normal{
        color: var(--PRIMARY-blue-700, #0D356E);
        font-family: "Proxima Nova Regular",sans-serif;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 1.875rem */
    }
    #contact .item__text-sz-15{
        font-size: 1.5rem;
    }
    .sz-28{
        width: 28.24906rem;
    }
}